body {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
    height: 55px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0;
}

.main-navigation {
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    background-color: #ffffff;
    margin-bottom: 0;
}

.site-navigation {
    list-style: none;
}


.site-navigation a {
    color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #81b3d2;
}

.site-navigation a:active {
    color: #cccccc;
}

.prons-list {
    list-style: none;
}

.reason1,
.reason2 {
    background-color: #81b3d2;
}

.reason1 h2,
.reason2 h2 {
/*    background-color: gray;*/
    font-size: 21px;
    line-height: 21px;
    font-weight: 600;
    color: #ffffff;
}

.reason1 span,
.reason2 span {
/*    background-color: gray;*/
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
    font-weight: normal;
}

.reason1 p,
.reason2 p {
/*    background-color: gray;*/
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
    font-weight: normal;
}

.prons {
    background-color: #ffffff;
}

.prons .main-text {
    font-size: 21px;
    line-height: 21px;
    color: #000000;
}

.prons .extra-text {
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    font-weight: normal;
}

.table-list {
    background-color: #eeeeee;
}

.table-list-item1 h2,
.table-list-item2 h2,
.table-list-item3 h2 {
    font-size: 21px;
    line-height: 21px;
    color: #000000;
}

.table-list-item1 span,
.table-list-item2 span,
.table-list-item3 span {
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    font-weight: normal;
}

.table-list-item1 p,
.table-list-item2 p,
.table-list-item3 p {
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    font-weight: normal;
}

.expected-dates {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 200px;
}

.expected-dates .main-text {
    font-size: 30px;
    line-height: 36px;
    margin-top: 50px;
    margin-left: 445px;
    margin-right: 435px;
    margin-bottom: 0;
    padding: 0;
    color: #000000;
}

.expected-dates .extra-text {
    font-size: 14px;
    line-height: 24px;
    margin-top: 30;
    margin-bottom: 50px;
    margin-left: 375px;
    margin-right: 370px;
    padding: 0;
    color: #000000;
    font-weight: normal;
}

.find-hotel-button {
    display: block;
    margin: 0 auto;
    padding: auto;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: #ffffff;
    background-color: #766357;
    text-transform: uppercase;
    border: 0px;
}

.form {
    background-color: #ffffff;
    background-image: url("../img/map.jpg");
    max-width: 1200px;
    height: 594px;
}

.form-block input {
    font: inherit;
    text-transform: uppercase;
    background-color: #f2f2f2;
    border: 0px;
}

div .find-button {
    font-size: 21px;
    line-height: 26px;
    background-color: #81b3d2;
    color: #ffffff;
    font-weight: 600;
    width: 458px;
    height: 58px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 0;
}

.main-footer {
    display: flex;
    margin: 0 auto;
    padding: 0;
    color: #000000;
    background-color: #ffffff;
    opacity: 0.9;
    height: 120px;
}

.main-footer a {
    color: #000000;
    font-size: 21px;
    line-height: 26px;
}

.main-footer a:hover,
.main-footer a:focus {
    color: #81b3d2;
}

.main-footer a:active {
    color: #cccccc;
}

.footer-hashtag {
    display: flex;
    max-width: 400px;
    padding: 0;
    align-items: center;
    margin-left: 130px;
    margin-right: 120px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.footer-social {
    display: flex;
    width: 400px;
    align-items: center;
}

.social-button {
    display: flex;
    width: 45px;
    height: 45px;
    background-color: #81b3d2;
    align-items: center;
    justify-content: center;
}

.footer-social ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 150px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

.academy-logo {
    display: flex;
    width: 400px;
    align-items: center;
}

.academy-logo ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

.html-button {
    display: flex;
    margin: 0 auto;
    padding: 0;
}

.academy-logo .html-button:hover,
.academy-logo .html-button:focus {
    color: #81b3d2;
}

.academy-logo .html-button:active {
    color: #cccccc;
}

.academy-logo a {
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/*Внутренняя страница*/

a.info-button {
    font-size: 14px;
    line-height: 21px;
    background-color: #81b3d2;
    color: #ffffff
}

a.booking-button {
    font-size: 14px;
    line-height: 21px;
    background-color: #766357;
    color: #ffffff
}

ul.sort,
ul.hotels,
fieldset ul {
  list-style: none;
}

fieldset {
    border: 0;
}

.filter {
    background-image: url("../img/filter-background.jpg");
    background-repeat: no-repeat;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
    font-weight: normal;
}

legend {
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
    font-weight: bold;
}

.show-button {
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    color: #ffffff;
    background-color: transparent;
    border: 2px solid #ffffff;
    text-transform: uppercase;
}

div.cost-range {
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    background-color: transparent;
    border: 2px solid #ffffff;
    text-transform: uppercase;
}

.by-price-current {
    color: #81b3d2;
    text-decoration: none;
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
}

.sort a {
    color: #cccccc;
    text-decoration: none;
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
    border-bottom: 1px dashed #81b3d2;
}

.sort a:focus {
    color: #cccccc;
}

.sort a:hover {
    color: #81b3d2;
} 

.sort a:active {
  color: #000000;
}

.hotel-name a {
    color: #000000;
    text-decoration: none;
    font-size: 21px;
    line-height: 26px;
}

.hotel-name a:hover,
.hotel-name a:focus {
  color: #81b3d2;
}

.hotel-name a:active {
  color: #cccccc;
}

.rating {
    background: #f2f2f2;
    padding: 6px 16px 6px 16px;
    color: #666666;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
}

.innerpage .hotels-current {
    color: #766357;
}

p.type,
p.price {
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    font-weight: normal;
}

/*Сеточные стили*/
/*

html,
body {
    min-width: 1200px;
    min-height: 2762px;
}
*/

.wrapper {
    /*    background-color: oldlace;*/
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
    padding: 0;
}

.main-navigation {
    position: relative;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.site-navigation {
    list-style: none;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
    display: flex;
}

.site-navigation li {
/*    background-color: aquamarine;*/
    width: 240px;
    margin-top: 0;
    text-align: center;
}

.site-navigation li:nth-child(2) {
    margin-right: 185px;
}

.main-header-logo {
    z-index: 1;
    width: 138px;
    height: 70px;
    margin-top: 0;
    margin-bottom: -50px;
}

.li:nth-child(1),
.li:nth-child(2) {
  text-align: left;
}

.li:nth-child(3),
.li:nth-child(4) {
  text-align: right;
}

.li:nth-child(2) {
  margin-right: 96px;
}

.li:nth-child(3) {
  margin-left: 0;
}

.welcome {
/*    border: 1px solid black;*/
    position: relative;
    background-image: url("../img/background-photo.jpg");
    width: 100%;
    background-color: #ffffff;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: 1200px 800px;
}

.welcome-sedona {
    margin: 75px 355px 75px 375px;
}

.welcome::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 57px;
    background-image: url("../img/shape-under-background.png");
    background-repeat: no-repeat;
}


.five-reasons {
/*    background-color: bisque;*/
    display: flex;
    flex-direction: column;
    text-align: center;
    max-height: 255px;
    width: 500px;
    margin: 0 auto;
}

.five-reasons .main-text {
    margin: 0;
    padding-top: 55px;
    padding-bottom: 25px;
    font-size: 21px;
    line-height: 26px;
}

.five-reasons .extra-text {
    margin: 0;
    padding-top: 0;
    padding-bottom: 50px;
    font-size: 14px;
    line-height: 26px;
    font-weight: normal;
}

.reason1,
.reason2 {
    display: flex;
    justify-content: space-between;
    height: 255px;
}

.reason-text1 {
/*    border: 1px solid black;*/
    display: flex;
    order: 1;
    flex-direction: column;
    min-height: 145px;
    width: 33%;
}

.reason-text2 {
/*    border: 1px solid black;*/
    display: flex;
    order: 2;
    flex-direction: column;
    min-height: 145px;
    width: 33%;
}

.reason-text1 h2 {
    text-align: center;
    width: 130px;
    margin: 45px 130px 20px 130px;
    color: #ffffff;
    font-size: 21px;
    line-height: 21px;
}

.reason-text1 span,
.reason-text2 span {
    text-align: center;
    color: #ffffff;
    margin: 0px 170px 25px 170px;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
}

.reason-text1 p {
    text-align: center;
    margin: 0px 50px 55px 50px;
    width: 300px;
    color: #ffffff;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
}

.reason-text2 h2 {
    text-align: center;
    width: 160px;
    margin: 45px 120px 20px 120px;
    color: #ffffff;
    font-size: 21px;
    line-height: 21px;
}

.reason-text2 p {
    text-align: center;
    margin: 0px 50px 55px 50px;
    width: 305px;
    color: #ffffff;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
}

.reason-image1 {
    width: 67%;
    background-image: url(../img/reason-realcity.jpg);
    order: 2;
    background-repeat: no-repeat;
    background-size: cover;
}

.reason-image2 {
    width: 67%;
    background-image: url(../img/reason-bridge.jpg);
    order: 1;
    background-repeat: no-repeat;
    background-size: cover;
}

.prons {
    margin: 0;
}

.prons-list {
/*    background-color: aliceblue;*/
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    height: 330px;
}

.prons-item1,
.prons-item2,
.prons-item3 {
/*    background-color: coral;*/
    display: flex;
    align-self: baseline;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 400px;
    margin: 0;
}

.prons-item1 img,
.prons-item2 img,
.prons-item3 img {
    margin-top: 60px;
    margin-bottom: 0;
    padding: 0;
}

.prons-item1 .main-text,
.prons-item2 .main-text,
.prons-item3 .main-text {
    margin-top: 30px;
    margin-bottom: 25px;
    padding: 0;
}

.prons-item1 .extra-text {
    margin-top: 0;
    margin-bottom: 85px;
    margin-left: 65px;
    margin-right: 70px;
    padding: 0;
}

.prons-item2 .extra-text {
    margin-top: 0;
    margin-bottom: 85px;
    margin-left: 55px;
    margin-right: 50px;
    padding: 0;
}

.prons-item3 .extra-text {
    margin-top: 0;
    margin-bottom: 85px;
    margin-left: 55px;
    margin-right: 50px;
    padding: 0;
}

.prons-table {
    margin: 0;
}

.table-list {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    height: 255px;
}

.table-list-item1,
.table-list-item2,
.table-list-item3 {
/*    border: 1px solid black;*/
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    align-self: baseline;
    width: 400px;
    margin: 0;
}

.table-list-item1 h2,
.table-list-item2 h2,
.table-list-item3 h2 {
/*    background-color: antiquewhite;*/
    padding: 0;
    margin-top: 45px;
    margin-bottom: 25px;
    margin-left: 140px;
    margin-right: 135px;
}

.table-list-item1 span,
.table-list-item2 span,
.table-list-item3 span {
/*    background-color: antiquewhite;*/
    padding: 0;
    margin-bottom: 25px;
}

.table-list-item1 p {
/*    background-color: antiquewhite;*/
    padding: 0;
    margin-top: 0;
    margin-bottom: 60px;
    margin-left: 85px;
    margin-right: 90px;
}

.table-list-item2 p,
.table-list-item3 p {
/*    background-color: antiquewhite;*/
    padding: 0;
    margin-top: 0;
    margin-bottom: 60px;
    margin-left: 65px;
    margin-right: 60px;
}


.find-hotel-button {
    width: 570px;
    height: 85px;
    background-color: #766357;
    font-weight: 600;
    border-radius: 0;
    box-shadow: 0;
}

.find-button {
    width: 458px;
    height: 58px;
    font-weight: 600;
    background-color: #669ec0;
    cursor: pointer;
    border-radius: 0;
}